---
layout: blog
---

<div class="col-md-8">
			<div class="Top-News">
                 {% for post in paginator.posts %}
				<div class="block-News text-center col-md-12">
					<div class="Top-img-news">
						<img src="style/images/blog/blog-post-1.png" alt="blog" width="293" height="205">
					<div class="data-news text-left">
						<img src="style/images/blog/Img-User.png" alt="blog-user" width="30" height="30">
                        <p>By:<a href="#"> Mohamed Habaza</a> | On: {{ post.date | date: "%b %-d, %Y" }} | Category: <a href="#">Videos</a> | Tags: <a href="#">business</a>, <a href="#">videos</a></p>
					</div>
				</div>
				<div class="Bottom-title-news wide-blog">
					<div class="title-news text-left">
						<a href="#"><h2>{{ post.title }}</h2></a>
						<p>{{ post.summary }}</p>
					</div>
					<div class="Get-news text-left">
						<a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
					</div>
				</div>
				</div>
                {% endfor %}

			</div>
			
			<!-- Start Pagination -->
            {% include pagination.html %}
			<!-- End Pagination -->

		</div>
