<section id="footer-4">
	<div class="container inner-f">
    	<div class="row">
			<div class="Footer-Blocks">

			<!-- Start About with logo Footer -->

            	<div class="col-md-4">
					<div class="Logo-About">
						<a class="Footer-logo" href="index.html"></a>
					</div>
                	<div class="Bottom-Block-Footer">
                    	<div class="About">
                        	<p>Suspendisse non augue tincidunt, ullaorper odio vel, tempor risus. In cursus lacus mattis consectetur.</p>
                        </div>
                    </div>
                </div>

			<!-- End About with logo Footer -->

			<!-- Start Last Post Footer -->

            	<div class="col-md-4">
                	<div class="Top-Block-Footer">
                    	<h2>Contact Info</h2>
                    </div>
                    <div class="divcod20"></div>
					<div class="Contact-Footer">
						<ul>
							<li><i class="fa fa-map-marker"></i><p>245 Street name, Address, City</p></li>
							<li><i class="fa fa-phone"></i><p>+1 (888) 520-4567</p></li>
							<li><i class="fa fa-envelope"></i><p>support@fobles.com</p></li>
						</ul>
					</div>
                </div>

			<!-- End Last Post Footer -->


			<!-- Start Follow Footer -->

				<div class="col-md-4">
					<div class="Top-Block-Footer">
						<h2>Follow us!</h2>
					</div>
					<div class="divcod20"></div>
					<div class="Bottom-Block-Footer">
						<div class="Join-Footer">
							<div id="mc_embed_signup">
								<form action="//fobles.us10.list-manage.com/subscribe/post?u=0733acea8768d8355b073fa38&amp;id=726e299dd0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									<input type="email" value="" placeholder="Type Email To Join Our Newsletter" name="EMAIL" class="txt-box required email" id="mce-EMAIL">
									<input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button btn btnjoin">
								</form>
							</div>
						</div>
                        <div class="Social-join">
                           	<div class="Social-Footer">
                                <ul class="icons-ul">
                                    <li class="facebook"><a href="#"><span class="fa fa-facebook hvr-icon-up"></span></a></li>
                                    <li class="twitter"><a href="#"><span class="fa fa-twitter hvr-icon-up"></span></a></li>
                                    <li class="google"><a href="#"><span class="fa fa-google-plus hvr-icon-up"></span></a></li>
                                    <li class="vimeo"><a href="#"><span class="fa fa-vimeo-square hvr-icon-up"></span></a></li>
                                    <li class="linkedin"><a href="#"><span class="fa fa-linkedin hvr-icon-up"></span></a></li>
                                    <li class="dribbble"><a href="#"><span class="fa fa-dribbble hvr-icon-up"></span></a></li>
                                    <li class="youtube"><a href="#"><span class="fa fa-youtube-play hvr-icon-up"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>

			<!-- End Follow Footer -->
			 </div>
         </div>
	</div>
</section>

<section id="Bottom-Footer">
	<div class="container inner-f">
    	<div class="row">
			<div class="col-md-6">
            	<div class="Rights-Reserved">
                	<h2>All Rights Reserved © 2015. <a href="#"><span>Privacy</span></a> / <a href="#"><span>TOS</span></a> / <a href="#"><span>FAQ</span></a></h2>
                </div>
            </div>
			<div class="col-md-6 text-right">
            	<div class="Link-Footer">
                	<ul>
                    	<li><a href="#">Home</a></li>
                    	<li><a href="#">Features</a></li>
                    	<li><a href="#">Portfolio</a></li>
                    	<li><a href="#">Pages</a></li>
                    	<li><a href="#">Blog</a></li>
                    	<li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
		</div>
    </div>
</section>

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');

</script>
{% endif %}
