<!-- Start Sidebar  -->

<div class="menu-wrap">
    <nav class="menu">
        <div class="TopSide-bar">
            <div class="Top-Block-Sidebar">
                <h2>Login Area</h2>

            </div>

            <div class="login-controls">
                <div class="input-box">
                    <input type="text" class="txt-box " placeholder="User name">
                </div>
                <div class="input-box">
                    <input type="password" class="txt-box " placeholder="Password">
                </div>
                <div class="main-bg">
                    <input type="submit" class="btn " value="Login">
                </div>
                <div class="check-box">
                    <a href="#">Forgot your Password ?</a>
                </div>
                <div class="Sign-Up">
                    <p>New to our website? <a href="#">Sign up now</a></p>
                </div>
            </div>
        </div>
        <div class="BotSide-bar">
            <div class="Bot-Block-Sidebar">
                <h2>Our Monthly NewsLetter</h2>
            </div>

            <div class="Join-Sidebar">
                <input type="text" class="txt-box " placeholder="Type your Email to Subscribe" required>
                <input class="btn btnjoin" type="submit" value="Join">
            </div>
        </div>
    </nav>
    <button class="close-button" id="close-button">Close Menu</button>
</div>


<!-- End Sidebar  -->

<div class="content-wrap">
<div id="home" class="body-wrapper">

<!-- Start Section Header style3 -->

<section class="Header-Style3">
	<div class="TopHeader">
		<div class="container">
			<div class="row">
				  <div class="Contact-h col-md-9">
					<div class="PhoneNamber">
						<p><i class="fa fa-phone"></i>+55 (11) 3086-2417</p>
					</div>
					<div class="Email-Site">
						<p><i class="fa fa-envelope"></i>contato@gentrop.com</p>
					</div>
					<div class="PhoneNamber">
						<p><i class="fa fa-whatsapp"></i>+55 (11) 98670-1206</p>
					</div>
					
				</div>

				<div class="col-md-3">
					<div class="social-ul">
						<ul class="icons-ul">
							<li class="facebook"><a href="https://www.facebook.com/Gentrop" target="_blank"><span class="fa fa-facebook"></span></a></li>
							<li class="linkedin"><a href="https://www.linkedin.com/company/gentrop" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                            <li class="sidebar-menu"><a href="#" id="open-button" ><span>Login / Sign Up</span></a></li>
						</ul>
					</div>
				 </div>
                 
                 
                 
                 
                 
                 
			 </div>
		</div>
	</div>

	<!-- Start Navbar -->



	<!-- End Navbar -->

</section>
