<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{{ "/style/js/jquery-1.11.3.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/menu-script.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="{{ "/style/rs-plugin/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/rs-plugin/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="{{ "/style/js/isotope.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/jquery.elevateZoom-3.0.8.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/jquery.fancybox.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/jquery.fancybox.pack.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/jquery.fancybox-media.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/jquery.inview.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/jflickrfeed.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/tweetie.min.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="{{ "/style/js/modernizr.custom.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/classie.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/main.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/jquery.counterup.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/waypoints.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/wow.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/style/js/custom.js" | prepend: site.baseurl }}"></script>
